.dion_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.jai_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.yeon_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.about_container {
    margin: 50px auto;
}

.dion1 {
    margin-bottom: 100px;
}

.dion2 {
    margin-bottom: 140px;
}

.jai1 {
    margin-bottom: 100px;
}

.jai2 {
    margin-bottom: 140px;
}

.yeon1 {
    margin-bottom: 100px;
}

.yeon2 {
    margin-bottom: 140px;
}

.second {
    position: relative;
    top: 30px;
}