th {
    padding: 40px;
    color: orange;
}

td {
    padding: 15px;
}

tr:nth-child(even) {
    background-color: blue;
    color: #ffffff
}

table {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: left;
}

td.fifty {
    background-color: orange;
}

tr:hover {
    background-color: lightblue;
}

td.fifty:hover {
    background-color: lightblue;
}

.fixed {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 350px;
    background-color: blue;
    color: white;
}

.two {
    visibility: hidden;
}